{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>seekerpedia</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->

	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'blogapp/bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'blogapp/css/misc.css' %}">
	<link rel="stylesheet" href="{% static 'blogapp/css/green-scheme.css' %}">
	
	<!-- JavaScripts -->
	<script src="{% static 'blogapp/js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'blogapp/js/jquery-migrate-1.2.1.min.js' %}"></script>

	<link rel="shortcut icon" href="{% static 'blogapp/images/favicon.ico' %}" type="image/x-icon" />

</head>
<body>


	<div class="responsive_menu">
        <ul class="main_menu">
            <li><a href="{% url 'welcome page' %}">Home</a></li>
            <li><a href="#">Categories</a>
            	<ul>
				{% for category in categories %}
				    <li><a href="{% url 'category' category.name %}">{{category.name}}</a></li>
				{% endfor%}
            	</ul>
            </li>
          
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href="{% url 'welcome page' %}">
							<img width="30px" src="{% static 'blogapp/images/logophono.jpg' %}" alt="Medigo">
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li><a href="{% url 'welcome page' %}">Home</a></li>
					            <li><a href="#">Categories</a>
					            	<ul>
					            	{% for category in categories %}
				                        <li><a href="{% url 'category' category.name %}">{{category.name}}</a></li>
				                    {% endfor%}
					            	</ul>
					            </li>
					        
					            <li><a href="{% url 'contact'%}">Contact</a></li>
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <div class="responsive-navigation visible-sm visible-xs">
					        <a href="#nogo" class="menu-toggle-btn">
					            <i class="fa fa-bars"></i>
					        </a>
					    </div> <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->

	<div class="first-widget parallax" id="blog">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">{{category.name}}</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						<span class="page-location">Home / Seekerpedia</span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div class="container">	
		<div class="row">

			<div class="col-md-8 blog-posts">
				<div class="row">
					<div class="col-md-12">
	{% if category.post.all %}					
				{% for post in category.post.all %}		
						<div class="post-blog">
							<div class="blog-image">
								<a href="{% url 'detail' post.id %}">
									<img src="{{post.image.url}}" alt="">
								</a>
							</div> <!-- /.blog-image -->
							<div class="blog-content">
								<span class="meta-date"><a href="#">{{post.created}}</a></span>
								<span class="meta-comments"><a href="#">32 Comments</a></span>
								<span class="meta-author"><a href="#">Candy Sharp</a></span>
								<h3><a href="{% url 'detail' post.id %}">{{post.title}}</a></h3>
								<p class="light-text">{{post.body}}<a href="{% url 'detail' post.id %}">Continue Reading...</a></p>
							</div> <!-- /.blog-content -->
						</div> <!-- /.post-blog -->
				{% endfor %}

	{% else %}			
	                    <div class="post-blog">
		
		            
		                    <div class="blog-content">
			
			                    <h3><a href="blog-single.html">no post on {{category.name}} yet</a></h3>
			
		                    </div> <!-- /.blog-content -->
	                    </div> <!-- /.post-blog -->
	
	{% endif %}

						
					</div> <!-- /.col-md-12 -->
					
				</div> <!-- /.row -->
			</div> <!-- /.col-md-8 -->

			<div class="col-md-4">
				<div class="sidebar">
					<div class="sidebar-widget">
						<h5 class="widget-title">Former Posts</h5>
					{% for former_post in former_posts %}			
						<div class="last-post clearfix">
							<div class="thumb pull-left">
								<a href="{% url 'detail' former_post.id  %}">
									<iframe
                      width="80"
                      height="80"
					{% if former_post.video %}  
                      src="https://www.youtube.com/embed/{{ former_post.video }}"
					{% endif %}
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen
                    ></iframe>
								</a>
							</div>
							<div class="content">
								<span>{{ former_post.created }}</span>
								<h4><a href="{% url 'detail' former_post.id %}">{{ former_post.title }}</a></h4>
							</div>
						</div> <!-- /.last-post -->
					{% endfor %}
						 <!-- /.last-post -->
                          <!-- /.last-post -->
					</div> <!-- /.sidebar-widget -->
					<div class="sidebar-widget">
						<h5 class="widget-title">Categories</h5>
						<div class="row categories">
							<div class="col-md-6">
								<ul>
								{% for category in categories %}	
									<li><a href="{% url 'category' category.name %}">{{category.name}}</a></li>
								{% endfor %}
								</ul>
							</div>
						
						</div> <!-- /.row -->
					</div> <!-- /.sidebar-widget -->
					<div class="sidebar-widget">
						<h5 class="widget-title">Flickr Feed</h5>
						<ul id="flickr-feed" class="thumbs"></ul>
					</div> <!-- /.sidebar-widget -->
					<div class="sidebar-widget">
						<h5 class="widget-title">WPI Mission</h5>
						<p class="light-text">Wills Phono-diction International is an educational company that trains people to speak right for their voice to be heard. W.P.I Voice Right Africa is a community or platform for the African child's voice to be heard. It also searches, empowers and displays the talents in African children as the heritage of Africa.</p>
					</div> <!-- /.sidebar-widget -->
				</div> <!-- /.sidebar -->
			</div> <!-- /.col-md-4 -->

		</div> <!-- /.row -->
	</div> <!-- /.container -->	

	

	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="blog.html">Blog Posts</a></li>
							<li><a href="archives.html">Shortcodes</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Copyright &copy; 2023 WPI</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

	<!-- Scripts -->
	<script src="{% static 'blogapp/js/min/plugins.min.js' %}"></script>
	<script src="{% static 'blogapp/js/min/medigo-custom.min.js' %}"></script>


</body>
</html>